@font-face {
  font-family: 'GT Walsheim';
  src: url("../assets/fonts/GTWalsheim-Bold.woff2") format("woff2"), url("../assets/fonts/GTWalsheim-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'GT Walsheim';
  src: url("../assets/fonts/GTWalsheim-BoldOblique.woff2") format("woff2"), url("../assets/fonts/GTWalsheim-BoldOblique.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'GT Walsheim';
  src: url("../assets/fonts/GTWalsheim-Medium.woff2") format("woff2"), url("../assets/fonts/GTWalsheim-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'GT Walsheim';
  src: url("../assets/fonts/GTWalsheim-RegularOblique.woff2") format("woff2"), url("../assets/fonts/GTWalsheim-RegularOblique.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GT Walsheim';
  src: url("../assets/fonts/GTWalsheim.woff2") format("woff2"), url("../assets/fonts/GTWalsheim.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  font-family: "GT Walsheim", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

h1 {
  font-size: 48px;
  color: #22292f;
  font-weight: normal;
  line-height: 1.5;
  cursor: default;
  margin-top: 12px;
  margin-bottom: 12px; }

h2 {
  font-size: 36px;
  color: #22292f;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 12px;
  margin-bottom: 12px; }

h3 {
  font-size: 31px;
  color: #22292f;
  font-weight: normal;
  line-height: 1.5;
  cursor: default;
  margin-top: 12px;
  margin-bottom: 12px; }

h4 {
  font-size: 25px;
  color: #b8c2cc;
  font-weight: normal;
  line-height: 1.5;
  cursor: default;
  margin-top: 12px;
  margin-bottom: 12px; }

p {
  font-size: 18px;
  color: #22292f;
  font-weight: normal;
  line-height: 1.5;
  cursor: default; }

a {
  color: #22292f;
  cursor: pointer;
  transition: 0.3s; }
  a:hover {
    color: #3087f1; }

.bio__links,
.project__link {
  text-decoration: none;
  border-bottom: 1px solid #3087f1;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 8px; }

#container, .header__container {
  max-width: 1200px;
  margin: 0 auto;
  width: 82%; }

.footer {
  margin-top: 96px;
  margin-bottom: 96px;
  cursor: default; }
  @media screen and (min-width: 680px) {
    .footer {
      margin-top: 192px; } }
  .footer__arrow {
    position: fixed;
    bottom: 96px;
    left: 89%;
    cursor: pointer; }
  .footer__icon {
    color: #22292f;
    padding-right: 16px;
    font-size: 22px;
    transition: 0.3s; }
    .footer__icon:hover {
      color: #3087f1; }
  .footer__copyright {
    margin-top: 48px;
    font-size: 16px;
    color: #b8c2cc;
    font-weight: lighter; }

#container, .header__container {
  max-width: 1200px;
  margin: 0 auto;
  width: 82%; }

#container, .header__container {
  max-width: 1200px;
  margin: 0 auto;
  width: 82%; }

.project__title {
  margin-top: 144px; }

.project__subtitle {
  margin-bottom: 48px;
  font-weight: lighter; }

.project__image {
  margin-bottom: 48px;
  margin-top: 48px;
  width: 100%; }

.project__paragraph {
  margin-bottom: 48px;
  max-width: none; }
  @media screen and (min-width: 540px) {
    .project__paragraph {
      max-width: 436px; } }

.project__next-title {
  margin-top: 144px;
  margin-bottom: 6px; }

.project__next-entry {
  text-decoration: none;
  cursor: pointer; }
  .project__next-entry h2 {
    display: inline-block;
    transition: 0.3s;
    margin-top: 0; }
    .project__next-entry h2:hover {
      color: #3087f1; }

.header__logo {
  height: 19px; }

.header__logo-container {
  margin-top: 48px; }

.header__blurb {
  max-width: 740px;
  margin-top: 35vh;
  margin-bottom: 240px; }
  .header__blurb span {
    font-weight: 500; }
  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    .header__blurb {
      font-size: 42px;
      max-width: 640px; } }
  @media screen and (max-width: 1024px) {
    .header__blurb {
      max-width: 480px;
      font-size: 38px; } }
  @media screen and (max-width: 700px) {
    .header__blurb {
      font-size: 32px;
      max-width: 360px;
      margin-bottom: 192px; } }
  @media screen and (max-width: 500px) {
    .header__blurb {
      margin-bottom: 192px;
      font-size: 28px; } }

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 98vh;
  max-height: 750px;
  z-index: -1;
  overflow: hidden; }
  @media screen and (min-width: 1750px) {
    .header__background {
      width: 70vw; } }
  @media screen and (max-width: 520px) {
    .header__background {
      width: 100vw;
      top: 0; } }

.header__background-image {
  background: url("../assets/images/white-low.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center 80%; }
  @media screen and (min-width: 1324px) {
    .header__background-image {
      background-position: center; } }

.homepage .header__cross {
  display: none; }

.caseStudies .header__cross {
  position: relative;
  top: -22px;
  left: 97%; }
  .caseStudies .header__cross img {
    width: 18px;
    height: 18px; }

@media screen and (min-width: 680px) {
  .case__container {
    display: flex;
    justify-content: space-between; } }

.case__column {
  width: 100%;
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 680px) {
    .case__column {
      width: 47%; } }

.case__link {
  text-decoration: none; }

.case__wrapper {
  margin-bottom: 57.6px; }
  @media screen and (min-width: 680px) {
    .case__wrapper {
      margin-bottom: 96px; } }

.case__image {
  width: 100%;
  transition: .6s ease; }

.case__image-container {
  transition: .6s;
  overflow: hidden; }
  .case__image-container:hover .case__image {
    transform: scale(1.07) !important; }

.case__title {
  cursor: pointer;
  transition: 0.3s;
  display: inline-block; }

.bio__container {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 680px) {
    .bio__container {
      flex-direction: column;
      margin-top: 48px; } }

.bio__image, .bio__about, .bio__contact {
  width: 30%; }
  @media screen and (max-width: 680px) {
    .bio__image, .bio__about, .bio__contact {
      width: 100%; } }
  .bio__image img, .bio__about img, .bio__contact img {
    width: 100%; }

.bio__about p {
  font-size: 16px; }

@media screen and (max-width: 680px) {
  .bio__about {
    margin: 48px 0; } }

.bio__header {
  font-size: 21px; }

::selection {
  background: #3087f1;
  color: #e1e6e7; }

body {
  background-color: #fcfdfd; }
