@font-face {
    font-family: 'GT Walsheim';
    src: url('../assets/fonts/GTWalsheim-Bold.woff2') format('woff2'),
        url('../assets/fonts/GTWalsheim-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../assets/fonts/GTWalsheim-BoldOblique.woff2') format('woff2'),
        url('../assets/fonts/GTWalsheim-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../assets/fonts/GTWalsheim-Medium.woff2') format('woff2'),
        url('../assets/fonts/GTWalsheim-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../assets/fonts/GTWalsheim-RegularOblique.woff2') format('woff2'),
        url('../assets/fonts/GTWalsheim-RegularOblique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../assets/fonts/GTWalsheim.woff2') format('woff2'),
        url('../assets/fonts/GTWalsheim.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../assets/fonts/GTWalsheimLight.woff2') format('woff2'),
        url('../assets/fonts/GTWalsheimLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}



@import "colours";

* {
    font-family: "GT Walsheim", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
    font-size: 48px;
    color: $black;
    font-weight: normal;
    line-height: 1.5;
    cursor: default;
    margin-top: 12px;
    margin-bottom: 12px;
}
h2 {
    font-size: 36px;
    color: $black;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 12px;
    margin-bottom: 12px;
}
h3 {
    font-size: 31px;
    color: $black;
    font-weight: normal;
    line-height: 1.5;
    cursor: default;
    margin-top: 12px;
    margin-bottom: 12px;
}
h4 {
    font-size: 25px;
    color: $darkgrey;
    font-weight: normal;
    line-height: 1.5;
    cursor: default;
    margin-top: 12px;
    margin-bottom: 12px;
}
p {
    font-size: 18px;
    color: $black;
    font-weight: normal;
    line-height: 1.5;
    cursor: default;
}

a {
    color: $black;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        color: $blue;
    }
}

.bio__links,
.project__link {
    text-decoration: none;
    border-bottom: 1px solid $blue;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 8px;
}